.gradle/
build/
app/build/
caches/
daemon/
jdks/
kotlin-profile/
native/
notifications/
wrapper/dists/
local.properties
*.iml
.idea/
.cxx/
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
captures/
.externalNativeBuild/
*.log
*.hprof
*.keystore
*.jks
*.ser
*.DS_Store
Thumbs.db
/screen.png
/ui.xml